<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/prettyPhoto.css" rel="stylesheet">
    <link href="/public/css/price-range.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
  
    <link href="/public/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/public/js/html5shiv.js"></script>
    <script src="/public/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/public//public/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="/public//public/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="/public//public/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="/public//public/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/public//public/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <%-include('../particals/header');%>

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div>
            <!--/breadcrums-->




            <div class="register-req">
                <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest
                </p>
            </div>
            <!--/register-req-->

            <div class="shopper-informations">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="shopper-info">
                            <p>Shopper Information</p>
                            <form action="/cart/order" method="post">
                                <p>Full Name<span>*</span></p>
                                <input type="text" value="<%=userData.full_name%>" readonly>
                                <p>Phone<span>*</span></p>
                                <input type="text" value="<%=userData.phone%>" readonly>
                                <p>Email<span>*</span></p>
                                <input type="text" value="<%=userData.email%>" readonly>
                                <p>Address<span>*</span></p>
                                <input type="text" value="<%=userData.address%>" readonly class="checkout__input__add">
                                <p>Order notes<span>*</span></p>
                                <input type="text" name="notes" placeholder="Write about your notes...">
                            
                           
                        </div>
                    </div>

                </div>
            </div>


            <div class="table-responsive cart_info">
                <table class="table table-condensed">
					<thead>
						<tr class="cart_menu">		
                            <td  class="image">Image</td>										
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        <% for( let item of cart ) {%>
						<tr>
							<td class="cart_product">
								<a href=""><img style="width: 100px; height: 100px;" src="<%=item.product.image%>" alt=""></a>
							</td>
							
							<td class="cart_price">
								<p><%=(item.product.price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%></p>
							</td>
                            <td class="cart_quantity">
								<div class="cart_quantity_button">
								
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price"><%=(item.product.price * item.quantity).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%></p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
                        <% } %>					
					</tbody>
				</table>
            </div>
            <div class="payment-options">
                <a style="float: right;" class="btn btn-default update" ><button  style="background-color: #FE980F; border: none; color: white;"  type="submit">ORDER</button></a>
                
            </div>
        </form>
        </div>
    </section>

	
    <%-include('../particals/footer');%>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.scrollUp.min.js"></script>
    <script src="/public/js/price-range.js"></script>
    <script src="/public/js/jquery.prettyPhoto.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/user/js/main.js"></script>


</body>

</html>